body{
    margin: 0;
    background-color: #575554;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
.header{
    height: 80px;
    position: fixed;
    top: 0;
    width: 100%;
    overflow: hidden;
}
.bg-gray{
    background-color: #2E2D2C  ;
}
.table-div{
    margin-top: 100px;
}
.flt-right{
    float: right;
}
.mar-top{
    margin-top: 10px;
}